html {
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url('/background3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@font-face {
  font-family: Stem-SemiLight;
  src: url('/Stem-SemiLight.ttf');
}

body {
  backdrop-filter: blur(20px);
  font-family: Stem-SemiLight, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}